@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  font-family: 'Abel', sans-serif;
  font-size: 1.3em;
  min-height: 100vh;
}

.dataTables_filter {
  float: right;
}

.sorting_asc:after {
  content: '\25B2';
}

.sorting_desc:after {
  content: '\25BC';
}

.container {
  margin-top: 30px;
}

header {
  background: url('../img/building.jpg');
  background-size: 100% 100%;
}

.page-footer {
  position: relative;
  bottom: -26px !important;
}

.click,
.pointer {
  cursor: pointer;
}
