@import url('https://fonts.googleapis.com/css?family=Abel:400,700&display=swap');
body {
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
}

.dataTables_filter {
  float: right;
}

a {
  color: #212529;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url('../img/sort_both.png');
}

table.dataTable thead .sorting_asc {
  background-image: url('../img/sort_asc.png');
}

table.dataTable thead .sorting_desc {
  background-image: url('../img/sort_desc.png');
}

.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

header {
  background: url('../img/building.jpg');
  background-size: 100% 100%;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.click,
.pointer {
  cursor: pointer;
}

.hoverable,
.hoverable:hover {
  transition: all 0.25s ease-in-out;
}

.help-block {
  color: red;
}

.has-error > input,
.has-error > select,
.has-error > textarea {
  border-color: red;
}

.spam {
  display: none;
}

@media print {
  header,
  nav,
  footer,
  .btn {
    display: none !important;
  }
  .shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .border {
    border: none !important;
  }
}

.addBtnHome {
  border: 2px solid #404040 !important;
  background-color: transparent !important;
  color: #404040 !important;
}
